

useDynLib(BIFIEsurvey)

export(   
	BIFIE.data ,
	BIFIE.univar ,
    BIFIE.freq ,
    BIFIE.correl ,
    BIFIE.linreg ,
    BIFIE.waldtest ,
    BIFIE.univar.test ,
    BIFIE.data.jack ,
    BIFIE.crosstab ,
    BIFIE.by , 
    BIFIE.hist  ,
    BIFIE.data.transform ,
    BIFIE.ecdf ,
    BIFIE.data.boot ,
    save.BIFIEdata ,
    load.BIFIEdata ,
    BIFIE.logistreg ,
    BIFIEdata.select ,
    BIFIE.BIFIEdata2BIFIEcdata  ,
    BIFIE.BIFIEcdata2BIFIEdata   ,
    write.BIFIEdata   ,
    load.BIFIEdata.files    ,
    BIFIE.mva
)    
    
    




S3method(summary,BIFIE.univar)
S3method(summary,BIFIE.freq)
S3method(summary,BIFIE.correl)
S3method(summary,BIFIE.linreg)
S3method(summary,BIFIE.waldtest)
S3method(summary,BIFIE.univar.test)
S3method(summary,BIFIEdata)
S3method(summary,BIFIE.crosstab)
S3method(summary,BIFIE.by)
S3method(summary,BIFIE.hist)
S3method(plot,BIFIE.hist)
S3method(summary,BIFIE.ecdf)
S3method(summary,BIFIE.mva)


# imports Depends packages
# import(qgraph)
importFrom(Rcpp,evalCpp)
# importFrom(inline,getDynLib)
import(miceadds)
importFrom(utils,packageDescription)